name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

defaults:
  run:
    # NOTE: Default option does not include `-o pipefail` as documented
    # unless explicitly specifying the `bash` shell.
    # https://github.com/actions/runner/issues/353
    shell: bash

env:
  # NOTE: Dependabot updates will fail if `engine-strict`
  # is enabled in `.npmrc` so it is enforced via CI instead
  # https://github.com/dependabot/dependabot-core/issues/4072
  NPM_CONFIG_ENGINE_STRICT: 'true'

jobs:
  lint:
    runs-on: ubuntu-24.04
    timeout-minutes: 3

    steps:
      - name: Checkout branch
        uses: actions/checkout@v6.0.1

      - name: Set up Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      # NOTE: Due to EBADPLATFORM bug affecting NPM workspaces,
      # we use the `--force` flag to sidestep the warning
      # https://github.com/npm/cli/issues/6138
      - name: Install dependencies
        run: |
          npm ci --force

      - name: Run linter checks
        run: |
          npm run lint

      - name: Run formatting checks
        run: |
          npm run fmt:check

  build:
    needs:
      - lint
    runs-on: ubuntu-24.04
    timeout-minutes: 3

    steps:
      - name: Checkout branch
        uses: actions/checkout@v6.0.1

      - name: Set up Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'

      # NOTE: Due to EBADPLATFORM bug affecting NPM workspaces,
      # we use the `--force` flag to sidestep the warning
      # https://github.com/npm/cli/issues/6138
      - name: Install dependencies
        run: |
          npm ci --force

      - name: Build packages
        run: |
          npm run build

      - name: Generate release tarball
        run: |
          npm pack --workspaces

      - name: Upload release tarball
        uses: actions/upload-artifact@v6.0.0
        with:
          name: release
          path: '*.tgz'
          retention-days: 3

  test-local-tarball:
    needs:
      - build
    runs-on: ${{ matrix.os }}
    timeout-minutes: 3
    strategy:
      matrix:
        os:
          - ubuntu-24.04
          - macos-13
          - macos-14 # ARM64
          - windows-2022
        node:
          # FIXME: `node:` prefix not working for Node 12
          # - lts/erbium
          - lts/fermium
          - lts/gallium
          - lts/hydrogen
          - lts/iron
        exclude:
          # ARM64 is only supported from lts/gallium
          - os: macos-14
            node: lts/fermium

    steps:
      - name: Set up Node
        uses: actions/setup-node@v6.1.0
        with:
          node-version: ${{ matrix.node }}

      - name: Download release tarball
        uses: actions/download-artifact@v6.0.0
        with:
          name: release

      - name: Set up test package
        run: |
          npm init --yes

      - name: Install base package
        run: |
          npm install k6-cli-*.tgz

      - name: Install optional package for Linux x64
        if: ${{ runner.os == 'Linux' && runner.arch == 'x64' }}
        run: |
          npm install loozhengyuan-k6-linux-x64-*.tgz

      - name: Install optional package for Linux ARM64
        if: ${{ runner.os == 'Linux' && runner.arch == 'ARM64' }}
        run: |
          npm install loozhengyuan-k6-linux-arm64-*.tgz

      - name: Install optional package for macOS x64
        if: ${{ runner.os == 'macOS' && runner.arch == 'x64' }}
        run: |
          npm install loozhengyuan-k6-darwin-x64-*.tgz

      - name: Install optional package for macOS ARM64
        if: ${{ runner.os == 'macOS' && runner.arch == 'ARM64' }}
        run: |
          npm install loozhengyuan-k6-darwin-arm64-*.tgz

      - name: Install optional package for Windows x64
        if: ${{ runner.os == 'Windows' && runner.arch == 'x64' }}
        run: |
          npm install loozhengyuan-k6-win32-x64-*.tgz

      - name: Verify installation
        run: |
          npx k6 version

  test-local-registry:
    needs:
      - build
    runs-on: ubuntu-24.04
    timeout-minutes: 3
    services:
      registry:
        # NOTE: The `verdaccio/verdaccio` image can only be configured to allow
        # unauthenticated publish via config file and GH Actions service containers
        # can only modify by env vars so a custom image is used instead.
        image: loozhengyuan/verdaccio:5.31.1-unsafe
        ports:
          - '4873:4873/tcp'

    steps:
      - name: Set up Node
        uses: actions/setup-node@v6.1.0

      - name: Download release tarball
        uses: actions/download-artifact@v6.0.0
        with:
          name: release

      - name: Prepare config for unauthenticated publish
        run: |
          cat <<EOF > .npmrc
          registry=http://localhost:4873/
          //localhost:4873/:_authToken=fake
          EOF

      - name: Publish packages
        run: |
          npm publish k6-cli-*.tgz
          npm publish loozhengyuan-k6-linux-x64-*.tgz
          npm publish loozhengyuan-k6-linux-arm64-*.tgz
          npm publish loozhengyuan-k6-darwin-x64-*.tgz
          npm publish loozhengyuan-k6-darwin-arm64-*.tgz
          npm publish loozhengyuan-k6-win32-x64-*.tgz

      - name: Set up test package
        run: |
          npm init --yes

      - name: Install packages
        run: |
          npm install k6-cli

      - name: Verify installation
        run: |
          npx k6 version
